<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Site Franca Venda - Contato</title>
  </head>
  <body style='margin: 0; padding: 20px'>
    <div style='width: 100%; max-width: 580px; margin: 0 auto'>
      <div
        style='
          border-radius: 4px 4px 0 0;
          background-color: #4a4a48;
          padding: 1.5rem;
          text-align: center;
        '
      >
        <img
          src='https://i.ibb.co/wwgZ3H4/logotipo-darkmode.png'
          style='height: 48px'
          alt='Franca Venda'
          title='Franca Venda'
        />
      </div>
      <div
        style="
          background-color: #efefef;
          padding: 1.5rem;
          font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial,
            sans-serif;
          border-radius: 0 0 4px 4px;
          border-bottom: 2px solid #4a4a48;
        "
      >
        <strong>Nova mensagem do site</strong>
        <br /><br />
        Um visitante do site deseja enviar uma mensagem para nós.<br />
        Abaixo segue os dados do usuário:
        <br /><br />
        <strong>Nome:</strong>
        {{nome}}<br />
        <strong>Empresa:</strong>
        {{empresa}}<br />
        <strong>E-mail:</strong>
        {{email}}<br />
        <strong>Whatsapp:</strong>
        {{whatsapp}}<br />
        <br />
        <strong>Mensagem:</strong><br />{{mensagem}}<br />
      </div>
    </div>
  </body>
</html>